In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [55]:
from gle_ML.ml_utils import MSE

ModuleNotFoundError: No module named 'gle_ML'

In [14]:
data = pd.read_csv('artificial1d.csv',names=['x','y'])

In [15]:
data

           x         y
0  -1.000000 -2.082017
1  -0.931034 -1.326980
2  -0.862069 -1.105598
3  -0.793103 -0.873946
4  -0.724138 -0.285027
5  -0.655172 -0.431153
6  -0.586207 -0.794754
7  -0.517241 -0.886068
8  -0.448276 -0.899900
9  -0.379310 -0.861844
10 -0.310345 -0.888052
11 -0.241379 -1.235951
12 -0.172414 -0.719568
13 -0.103448 -0.452023
14 -0.034483  0.098900
15  0.034483  0.348970
16  0.103448  0.097478
17  0.172414  0.700198
18  0.241379  1.310512
19  0.310345  1.001776
20  0.379310  1.003182
21  0.448276  1.149101
22  0.517241  1.592206
23  0.586207  0.609090
24  0.655172  0.594416
25  0.724138  0.703007
26  0.793103  0.823322
27  0.862069  1.106464
28  0.931034  1.422957
29  1.000000  2.309838

In [23]:
X = data['x'].to_numpy()
y = data['y'].to_numpy()

In [24]:
X1 = np.c_[np.ones(X.shape[0]), X]

In [31]:
X1

array([[ 1.        , -1.        ],
       [ 1.        , -0.93103448],
       [ 1.        , -0.86206897],
       [ 1.        , -0.79310345],
       [ 1.        , -0.72413793],
       [ 1.        , -0.65517241],
       [ 1.        , -0.5862069 ],
       [ 1.        , -0.51724138],
       [ 1.        , -0.44827586],
       [ 1.        , -0.37931034],
       [ 1.        , -0.31034483],
       [ 1.        , -0.24137931],
       [ 1.        , -0.17241379],
       [ 1.        , -0.10344828],
       [ 1.        , -0.03448276],
       [ 1.        ,  0.03448276],
       [ 1.        ,  0.10344828],
       [ 1.        ,  0.17241379],
       [ 1.        ,  0.24137931],
       [ 1.        ,  0.31034483],
       [ 1.        ,  0.37931034],
       [ 1.        ,  0.44827586],
       [ 1.        ,  0.51724138],
       [ 1.        ,  0.5862069 ],
       [ 1.        ,  0.65517241],
       [ 1.        ,  0.72413793],
       [ 1.        ,  0.79310345],
       [ 1.        ,  0.86206897],
       [ 1.        ,  0.93103448],
       [ 1.        ,  1.        ]])

In [26]:
X1.shape

(30, 2)

In [33]:
parameters = np.linalg.inv(X1.T @ X1) @ X1.T
parameters = parameters @ y

In [34]:
parameters.shape

(2,)

In [35]:
parameters

array([0.06761792, 1.57486517])

In [36]:
y_pred = X1 @ parameters

In [40]:
y_pred

array([-1.50724724, -1.39863585, -1.29002446, -1.18141307, -1.07280168,
       -0.96419029, -0.8555789 , -0.74696751, -0.63835612, -0.52974473,
       -0.42113333, -0.31252194, -0.20391055, -0.09529916,  0.01331223,
        0.12192362,  0.23053501,  0.3391464 ,  0.44775779,  0.55636918,
        0.66498057,  0.77359197,  0.88220336,  0.99081475,  1.09942614,
        1.20803753,  1.31664892,  1.42526031,  1.5338717 ,  1.64248309])

In [39]:
y

array([-2.08201726, -1.32698023, -1.10559772, -0.87394576, -0.28502695,
       -0.43115252, -0.79475402, -0.88606806, -0.89989978, -0.86184365,
       -0.88805183, -1.23595129, -0.71956827, -0.45202286,  0.09889951,
        0.34896973,  0.09747797,  0.70019809,  1.31051213,  1.00177576,
        1.00318231,  1.14910129,  1.59220607,  0.60909009,  0.59441623,
        0.70300732,  0.82332241,  1.10646439,  1.42295695,  2.30983768])

In [41]:
y.max()

2.309837684059688

In [42]:
y.min()

-2.0820172572338045

In [43]:
y_plot = np.linspace(y.min(), y.max(), 1000)

In [ ]:
x_plot = np.linspace(x.min(), x.max(), 1000)
x_plot = np.c_[np.ones(x_plot.shape[0]), x_plot]
parameters_plot = np.linalg.inv(x_plot.T @ x_plot) @ x_plot.T
parameters_plot = parameters @ y